# Dependencies
node_modules/

# Env
.env
.env.*

# Build outputs
/dist/
/build/

# Playwright artifacts
/playwright-report/
/test-results/
/.playwright-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Editor
.vscode/
.idea/
